<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <title>login page</title>
</head>
<body>
    <h3>로그인</h3>
    <fieldset>
        <!-- 
            - get, post 페이지가 동일하면 action 생략 가능 
            - action이 없으면 현재 페이지 주소로 데이터를 전송
        -->
        <form method="post">
            <input type="text" name="uid"  required placeholder="아이디" />
            <input type="password" name="upw"  required placeholder="비밀번호" />
            <input type="submit" value="전송">
        </form>
    </fieldset>
    <script>
        $.post({
            url:"http://127.0.0.1:5000/link",
            data:"name=hello&age=100",
            success: (res)=>{
                console.log(res)
            },
            error : (err) => {}
        })
    </script>
</body>
</html>