{% extends 'base.html'%}
{% block content %}
    <div class="container">
        <button class="btn btn-danger">로그인 이벤트 발생</button>
    </div>
    {# jQuery CDN #}
    {# 클라이언트의 정보를 클라이언트측에 저장시키겠다 => 쿠키, 웹스토리지(로컬,세션), 웹DB #}
    {# jQuery-cookies CDN #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {# 쿠키(서버/클라이언트 모두저장) #}

    <script>
        $('button').on('click', ()=>{
            console.log('로그인 버튼을 눌렀다')
            $.post({
                url : '/auth/login',
                data:{uid : 'guest', upw : '1234'},
                success : res => {
                    // 토큰을 쿠키에 저장
                    let access_token = res.token
                    console.log(access_token)
                    if (res.code == 1){
                        // 토큰을 쿠키에 저장
                        // path => 토큰의 유효 범위 (URL 기준), '/' => 전체 적용
                        $.cookie('token', access_token, {path:'/'})
                        // 특정 페이지로 이동
                        // -> /main
                        window.location.replace("{{url_for('main_bp.home')}}")
                    }else {
                        // 토큰 발행 실패
                        alert(res.msg)

                    }
                }
            })
        })
    </script>
{% endblock%}